/* здесь используйте глобальные переменные */

$primary: #2d383f;
$extra: #0266c1;
$white-color: #ffffff;
$dark-blue: #1c3374;
$grey: #999999;

// Брейкпойнты
$tablet-width: 768px;
$desktop-width: 1400px;
$mobile-width-only: 767px;
